@use 'sass:map';
@use '../mixins.scss' as *;
@use 'element-plus/theme-chalk/src/dark/css-vars.scss';

// Background
$bg-color: () !default;
$bg-color: map.merge(
    (
        '': #141414,
        'overlay': #1d1e1f,
    ),
    $bg-color
);

//  Color Sub
$color-sub: () !default;
$color-sub: map.merge(
    (
        '1': #363637,
        '2': #414243,
    ),
    $color-sub
);

// Border
$border-color: () !default;
$border-color: map.merge(
    (
        '': #58585b,
    ),
    $border-color
);

html.dark {
    @include set-component-css-var('bg-color', $bg-color);
    @include set-component-css-var('color-sub', $color-sub);
    @include set-component-css-var('border-color', $border-color);
}